Repository chetanft/courier-integration: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

UI improvements: Remove redundant navigation, fix duplicate headers, and improve button styling
  src/App.jsx
  src/index.css
  src/pages/AddClient.jsx
  src/pages/AddCourier.jsx
  src/pages/CourierDetail.jsx
  src/pages/ViewCouriers.jsx
  tailwind.config.js
Due: npx eslint --fix

Fix client linking functionality and improve error handling
  src/pages/CourierDetail.jsx
  src/pages/ViewCouriers.jsx
Due: npx eslint --fix

Remove redundant ViewCouriers page and improve routing flow
  README.md
  src/App.jsx
  src/pages/CourierDetail.jsx
  src/pages/ViewCouriers.jsx
Due: npx eslint --fix, npx prettier --write

Update README with generic courier names and data
  README.md
Due: npx prettier --write

Add settings page for TMS field management
  .husky/pre-commit
  .lintstagedrc.js
  package-lock.json
  package.json
  src/App.jsx
  src/lib/supabase-service.js
  src/pages/AddCourier.jsx
  src/pages/CourierDetail.jsx
  src/pages/Settings.jsx
  src/pages/UpdateCourierMappings.jsx
  tms-fields-migration.sql
Due: npx eslint --fix, npx prettier --write

Add Alert component for UI
  src/components/ui/alert.jsx
Due: npx eslint --fix

Add Textarea and Switch components for UI
  src/components/ui/switch.jsx
  src/components/ui/textarea.jsx
Due: npx eslint --fix

Add Radix UI dependencies for Switch and Alert components
  package-lock.json
  package.json
Due: npx prettier --write

Add Netlify Function proxy for Supabase to fix CORS issues
  netlify.toml
  netlify/functions/supabase-proxy.js
  package-lock.json
  package.json
  src/lib/supabase-client-proxy.js
  src/lib/supabase-service-proxy.js
  src/pages/Settings.jsx
  src/pages/UpdateCourierMappings.jsx
Due: npx eslint --fix, npx prettier --write

Implement Supabase Edge Functions to fix URL issues and improve settings functionality
  EDGE-FUNCTIONS-SETUP.md
  NETLIFY-SETUP.md
  README.md
  fix-rls-policies.sql
  netlify.toml
  netlify/functions/check-tables.js
  netlify/functions/couriers-missing-fields.js
  netlify/functions/debug-env.js
  netlify/functions/direct-supabase-test.js
  netlify/functions/supabase-proxy.js
  netlify/functions/test-url.js
  netlify/functions/tms-fields.js
  public/debug.html
  public/direct-test.html
  public/test-settings.html
  src/lib/edge-functions-service.js
  src/lib/settings-service.js
  src/pages/AddCourier.jsx
  src/pages/CourierDetail.jsx
  src/pages/Settings.jsx
  src/pages/UpdateCourierMappings.jsx
  supabase/functions/README.md
  supabase/functions/_shared/cors.ts
  supabase/functions/_shared/supabase-client.ts
  supabase/functions/couriers-missing-fields/index.ts
  supabase/functions/tms-fields/index.ts
Due: npx eslint --fix, npx prettier --write

Fix import in edge-functions-service.js
  src/lib/edge-functions-service.js
Due: npx eslint --fix

Add JWT Token Auth support to the Add New Courier form
  src/components/request-builder.jsx
  src/lib/api-utils.js
  src/pages/AddCourierRevamped.jsx
Due: npx eslint --fix

Test change to trigger Netlify deployment
  src/App.jsx
Due: npx eslint --fix

Add missing components required for the Add Courier form
  src/components/response-viewer.jsx
  src/components/ui/json-editor.jsx
  src/components/ui/key-value-editor.jsx
  src/lib/curl-parser.js
Due: npx eslint --fix

Fix cURL parsing and API request handling for better header extraction and form-urlencoded data support
  src/components/request-builder.jsx
  src/lib/api-utils.js
  src/lib/curl-parser.js
  src/pages/AddCourierRevamped.jsx
Due: npx eslint --fix

Add support for --data-urlencode parameter in cURL parser
  src/lib/curl-parser.js
Due: npx eslint --fix

Fix field mapping functionality after API testing
  src/components/response-viewer.jsx
  src/lib/field-extractor.js
  src/pages/AddCourierRevamped.jsx
Due: npx eslint --fix

Fix Select.Item empty value error in field mapping
  src/components/response-viewer.jsx
  src/pages/AddCourierRevamped.jsx
Due: npx eslint --fix

Add search bar, courier creation time display, and sort options to home page
  src/App.jsx
Due: npx eslint --fix

Fix JS files and field mappings display in courier details page
  src/pages/CourierDetail.jsx
Due: npx eslint --fix

Add enhanced debugging for field mappings and JS files display
  debug-courier-data.js
  run-debug.js
  src/pages/CourierDetail.jsx
Due: npx eslint --fix

Add SQL scripts to fix Row Level Security policies
  check-all-rls-policies.sql
  fix-all-rls-policies.sql
  fix-js-files-rls.sql
Due: none

Add multi-step progress indicator to Add Courier form
  src/components/response-viewer.jsx
  src/components/ui/stepper.jsx
  src/pages/AddCourierRevamped.jsx
Due: npx eslint --fix

Fix RLS policy issue with js_files table
  fix-js-files-rls-policy.sql
  src/lib/supabase-service.js
  src/pages/AddCourierRevamped.jsx
Due: npx eslint --fix

Fix RLS policy issue with js_files table by bypassing database insertion
  src/lib/supabase-service.js
  src/pages/AddCourierRevamped.jsx
  src/pages/CourierDetail.jsx
Due: npx eslint --fix

Implement UI improvements: add page header with courier name, show full JS file with copy option, add delete functionality for couriers and clients, fix courier creation form tabs
  src/components/response-viewer.jsx
  src/lib/supabase-service.js
  src/pages/CourierDetail.jsx
Due: npx eslint --fix

Fix JSX syntax error in CourierDetail.jsx
  src/pages/CourierDetail.jsx
Due: npx eslint --fix

Update Settings page with categorized courier mapping fields display
  src/components/ui/badge-variants.js
  src/components/ui/badge.jsx
  src/pages/Settings.jsx
Due: npx eslint --fix

Revert "Update Settings page with categorized courier mapping fields display"
  src/components/ui/badge-variants.js
  src/components/ui/badge.jsx
  src/pages/Settings.jsx
Due: npx eslint --fix

Improve FormMessage component to handle usage outside form context
  src/components/ui/form.jsx
Due: npx eslint --fix

Fix UI issues: auto-select auth type from cURL, fix bearer token parsing, improve docket number error handling, add back button on error response
  src/components/request-builder.jsx
  src/components/response-viewer.jsx
  src/lib/curl-parser.js
  src/pages/AddCourierRevamped.jsx
Due: npx eslint --fix

Fix form state access error in request-builder and AddCourierRevamped
  src/components/request-builder.jsx
  src/pages/AddCourierRevamped.jsx
Due: npx eslint --fix

fix: silence ESLint unused variable warning for validateStatus param with inline comment
  src/lib/api-utils.js
Due: npx eslint --fix

feat: implement database-driven credential management with user-friendly interface
  README.md
  netlify/functions/db-courier-proxy.js
  netlify/functions/package.json
  src/components/forms/CourierCredentialsForm.jsx
  src/lib/api-utils.js
  src/lib/supabase-service.js
  src/pages/AddCourier.jsx
  supabase-schema.sql
Due: npx eslint --fix, npx prettier --write

Fix CORS issue with Safexpress API by improving proxy handling
  netlify.toml
  netlify/functions/db-courier-proxy.js
  src/lib/api-utils.js
Due: npx eslint --fix

Fix Supabase initialization error in db-courier-proxy function
  netlify/functions/db-courier-proxy.js
Due: npx eslint --fix

Enhance courier integration with improved auth token flow
  CHANGE_LOG.md
  TEST_PLAN.md
  src/components/request-builder.jsx
  src/components/token-generator.jsx
  src/components/ui/copy-button.jsx
  src/components/ui/toast.jsx
  src/components/ui/use-toast.js
  src/pages/AddCourierRevamped.jsx
Due: npx eslint --fix, npx prettier --write

Add lodash dependency required by token generator
  package-lock.json
  package.json
Due: npx prettier --write

Add debugging for courier name validation and button state
  src/pages/AddCourierRevamped.jsx
Due: npx eslint --fix

Fix courier name validation by using watched fields for reactivity
  src/pages/AddCourierRevamped.jsx
Due: npx eslint --fix

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: any of: *.{json,md}
